
@{
    ViewBag.Title = "FlightPath";
}

<h2>FlightPath</h2>
<div>
    <h2> Longtitude and Latitude</h2>
    <table>
        <tr>
            <td>Longtitude:  </td>
            <td><p type="text" id="lonID" size="5"></p></td>
        </tr>
        <tr>
            <td>Latitude:  </td>
            <td><p type="text" id="latID" size="5"></p></td>
        </tr>
    </table>
</div>


<script>
     var IntervalTime = @Session["time"] * 1000
    //the function to do each 4 seconds.
    myTimer = (function () {
        // do the getEmployee function in the controller.
        $.post( "@Url.Action("GetData")").done(function (xml) {
                var xmlDoc = $.parseXML( xml ),
                $xml = $( xmlDoc ),
                Longtitude = $xml.find( "Longtitude" ).text();
                Latitude = $xml.find( "Latitude" ).text();

            $("#lonID").text(Longtitude);
            $("#latID").text(Latitude);
                
        });
    });
    
    setInterval(myTimer, IntervalTime);
    myTimer();
    @*var numOfIntervals = (@Session["time"] * 1000);
    myTimer = (function () {
        $.post("@Url.Action("GetData")").done(function (xml) {
            var xmlFile = $.parseXML(xml),
                $xml = $(xmlFile),
                Latitude = $xml.find("Latitude").text();
            Longtitude = $xml.find("Longtitude").text();
            $("#lonID").text(Longtitude);
            $("#latID").text(Latitude);
            alert(Longtitude);
        });
    });

    setInterval(myTimer, numOfIntervals);
    myTimer();*@
</script>

