
@{
    ViewBag.Title = "FlightPath";
}

<h2>display</h2>
<div>
    <h2>Employee json Get</h2>
    <table>
        <tr>
            <td>Id:  </td>
            <td><p type="text" id="prodId" size="5"></p></td>
        </tr>
        <tr>
            <td>Name:  </td>
            <td><p type="text" id="prodName" size="5"></p></td>
        </tr>
        <tr>
            <td>Salary:  </td>
            <td><p type="text" id="prodSalary" size="5"></p></td>
        </tr>
    </table>
</div>


<script>
    var numOfIntervals = (@Session["time"] * 1000);
    myFunction = (function () {
</script>

