
@{
    ViewBag.Title = "FlightPath";
}
<!DOCTYPE html>
<html>
<body background="~/export-map-share.png" style="background-size:100% 100%; background-attachment:fixed">
    <canvas id="flightPathCanvas" style='position:absolute; left:0px; top:0px;'></canvas>
    <script>
        var c = document.getElementById("flightPathCanvas");
        var ctx = c.getContext("2d");
        ctx.canvas.width = window.innerWidth;
        ctx.canvas.height = window.innerHeight;
        var prevLon;
        var prevLat;
        var funcIndicator = 0;
        var IntervalTime = @Session["time"] * 1000;
        myTimer = (function () {
        // calls GetData function in the controller, inserts the output in "xml".
        $.post("@Url.Action("GetData")").done(function (xml) {
            // parse the string "xml" into XML
            var xmlDoc = $.parseXML( xml ),
            $xml = $( xmlDoc ),
            // get longitude and latitude values
            Longtitude = $xml.find( "Longtitude" ).text();
            Latitude = $xml.find("Latitude").text();
            ctx.beginPath();
            var lon = (parseFloat(Longtitude) + 180) * (ctx.canvas.width / 360 );
            var lat = (parseFloat(Latitude) - 90) * (ctx.canvas.height / -180);
            if (funcIndicator == 0) {
                ctx.fillStyle = "red";
                ctx.lineStyle = "blue";
                ctx.arc(lon, lat, 5, 0, 2 * Math.PI);
                ctx.moveTo(lon, lat);
                ctx.lineTo(lon, lat);
                funcIndicator = 1;
            }
            else {
                ctx.lineWidth = "5";
                ctx.strokeStyle = "purple";
                ctx.moveTo(prevLon, prevLat);
                ctx.lineTo(lon, lat);
            }
            ctx.stroke();
            prevLon = lon;
            prevLat = lat;
        });
    });
    // calls myTimer function every 4 seconds
    setInterval(myTimer, IntervalTime);
    myTimer();
    </script>

</body>
</html>