
@{
    ViewBag.Title = "FlightPath";
}

<h2>FlightPath</h2>
<div>
    <h2> Longtitude and Latitude</h2>
    <table>
        <tr>
            <td>Longtitude:  </td>
            <td><p type="text" id="lonID" size="5"></p></td>
        </tr>
        <tr>
            <td>Latitude:  </td>
            <td><p type="text" id="latID" size="5"></p></td>
        </tr>
    </table>
</div>


<script>
    var IntervalTime = @Session["time"] * 1000;
    myTimer = (function () {
        // calls GetData function in the controller, inserts the output in "xml"
        $.post("@Url.Action("GetData")").done(function (xml) {
                // parse the string "xml" into XML
                var xmlDoc = $.parseXML( xml ),
                $xml = $( xmlDoc ),
                // get longitude and latitude values
                Longtitude = $xml.find( "Longtitude" ).text();
                Latitude = $xml.find( "Latitude" ).text();

            $("#lonID").text(Longtitude);
            $("#latID").text(Latitude);
                
        });
    });
    // calls myTimer function every 4 seconds
    setInterval(myTimer, IntervalTime);
    myTimer();
</script>

