
@{
    ViewBag.Title = "LocatePlane";
}
<!DOCTYPE html>
<h1> LAT AND LON :
    The lat is: @ViewBag.Latitude;
    The lon is: @ViewBag.Longtitude;
    </h1>
<html>
<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body, html {
            height: 100%;
            margin: 0;
            background-image: url("../../export-map-share.png");
            /* Make it's height all the way */
            height: 100%;
            /* Format the image to fit the screen.*/
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
</body>
</html>
