
@{
    ViewBag.Title = "LocatePlane";
}
<!DOCTYPE html>
<html>
<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        html, body {
            background-image: url("../../export-map-share.png");
            position: fixed;
            top: 0;
            height: 100%;
            width: 100%;
            padding: 0;
            margin: 0;
            background-size: cover;
        }
        #canvasId {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body style="background-size:100% 100%; background-attachment:fixed">
    <canvas id="canvasId"></canvas>
    <script>
        alert("locate");
        var c = document.getElementById("canvasId");
        var ctx = c.getContext("2d");
        ctx.canvas.width = window.innerWidth;
        ctx.canvas.height = window.innerHeight;
        ctx.beginPath();
        var lon = (@ViewBag.Longtitude + 180) * (window.innerWidth / 360);
        var lat = (@ViewBag.Latitude - 90) * (window.innerHeight / -180);
        ctx.arc(lon, lat, 5, 0, 2 * Math.PI);
        ctx.lineWidth = 2;
        ctx.fillStyle = "red";
        ctx.lineStyle = "blue";
        ctx.fill();
        ctx.stroke();
    </script>
    
</body>
</html>